# Ignorar node_modules em qualquer nível
node_modules/
**/node_modules/

# Logs
*.log

# Environments
*.env
.env
local.settings.json

# Docker
docker-compose.override.yml

# OS or editor-specific files
.DS_Store
.vscode/
